* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: white;
}

.login-form {
    background: #DFD3C3;
    width: 600px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 25px;

    /* box-shadow: 15px 15px 8px 8px rgba(15, 13, 13, 0.5), -7px -7px 10px 3px rgba(255, 255, 255, 0.25); */
    -webkit-box-shadow: 10px 10px 30px 0px rgba(133, 88, 111, 0.5);
    -moz-box-shadow: 10px 10px 30px 0px rgba(133, 88, 111, 0.5);
    box-shadow: 10px 10px 30px 0px rgba(133, 88, 111, 0.5);
}
.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: #85586F;

}
.login-form .content {
    padding: 35px;
    text-align: center;
}
.login-form .input-field {
    padding: 12px 5px;
}
.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    background: #DFD3C3;
    border-bottom: 1px solid #85586F;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder {
    text-transform: uppercase;
    color: #85586F;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}
.login-form .input-field input:focus {
    border-color: black;
}
.login-form a.link {
    text-decoration: none;
    color: #85586F;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #DFD3C3;
    color: #85586F;

    letter-spacing: 0.5px;
    outline: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    align-items: center;
    justify-content: center;
}

.login-form .action button:hover {
    background: #F8EDE3;
}
