button {
    
    display: -webkit-box;
     display: flex;
    float: right;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #DFD3C3;
    color: #85586F;
    border: none;
    margin-top: -30px;

}

button:hover{
    background: #F8EDE3;
}
